<div class="chat_body__header">
  <div class="chatroom_details">
    <span><%- roomName %>  <%- starIcon %></span>
    <p>Small description here</p>
  </div>
  <div class="chatroom_participants"></div>
</div>
<div class="chat_body__messages">
  <ul id="messages">
    <% if (messages!=-1) { %> <% messages.forEach((message, index)=> { %> 

      <% if(writeHeaderDate[index]) { %>
        <li style="border-top: 1px dotted rgb(204, 204, 204); padding-top: 20px;">
        <p><%- date[index].day %></p>
      <% } else {%>
        <li>
      <% } %>

      <div class="li-content" id="<%- message._id %>">
        <img src="../<%- senders[index].profileImage %> " />
        <div class="message-container">
          <div class="message-header">
            <span class="message-sender"> <%- senders[index].name %> </span
            ><span class="message-hour"> <%- date[index].hour %> </span>
          </div>
          <div class="message-content"><%- message.content %></div>
          <div id="<%- message._id %>-reactions" class="emoji-list">
            <% message.reactions.forEach(reaction=> { %>
            <div class="reaction-count">
              <span class="reaction-span reactions-display"
                ><%= reaction.emoji %> <%= reaction.count %></span
              >
            </div>
            <% }) %>
          </div>
        </div>
        <div class="reaction-box">
          <span class="reaction-span">✅</span>
          <span class="reaction-span">👀</span>
          <span class="reaction-span">🙌</span>
          <span id="<%- message._id %>-emoji-btn"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              aria-hidden="true"
              focusable="false"
              width="1.4em"
              height="1.4em"
              style="
                -ms-transform: rotate(360deg);
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
              "
              preserveAspectRatio="xMidYMid meet"
              viewBox="0 0 256 256"
            >
              <path
                class="emoji-list-button-svg"
                d="M224 128a96 96 0 1 1-96-96a96 96 0 0 1 96 96z"
                opacity=".2"
                fill="#626262"
              />
              <path
                d="M128 24a104 104 0 1 0 104 104A104.118 104.118 0 0 0 128 24zm0 192a88 88 0 1 1 88-88a88.1 88.1 0 0 1-88 88zm48.503-59.998a56.029 56.029 0 0 1-97.006.001a8 8 0 0 1 13.85-8.012a40.195 40.195 0 0 0 19.086 16.866a39.96 39.96 0 0 0 43.851-8.577a40.182 40.182 0 0 0 6.37-8.29a8 8 0 0 1 13.849 8.012zM80 108a12 12 0 1 1 12 12a12 12 0 0 1-12-12zm104 0a8 8 0 0 1-8 8h-24a8 8 0 0 1 0-16h24a8 8 0 0 1 8 8z"
                fill="#626262"
              /></svg
          ></span>
          <span
            ><svg
              class="bookmark-button-svg"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              aria-hidden="true"
              focusable="false"
              width="1em"
              height="1em"
              style="
                -ms-transform: rotate(360deg);
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
              "
              preserveAspectRatio="xMidYMid meet"
              viewBox="0 0 16 16"
            >
              <g fill="#626262">
                <path
                  d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"
                />
              </g></svg
          ></span>
        </div>
        <div id="<%- message._id %>-full-emoji-div" class="hide emoji-box">
          <input
            type="text"
            class="search-emoji"
            id="<%- message._id %>-search-emoji"
            placeholder="Search emojis here"
          />
          <ul id="<%- message._id %>-full-emoji-list"></ul>
        </div>
      </div>
    </li>
    <% }) %> <% } %>
  </ul>
</div>
<div class="chat_body__input">
  <form id="main-chat-form">
    <div class="bolt-icon"><%- boltIcon %></div>
    <input
      class="chat-input"
      type="text"
      name="main-chat-input"
      id="main-chat-input"
      placeholder="Send message to chat"
    />
    <span>Aa</span>
    <%- atIcon %> <%- smileyIcon %> <%- paperclipIcon %>
    <button id="chat-submit-button" disabled><%- paperplaneIcon %></button>
  </form>
</div>
<script> 
  const currentUserId = "<%- userId %>" 
</script>
