<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <div class="header__main">
        <%- clockIcon %>
        <div class="input-div">
          <input
            type="text"
            name="header-search"
            placeholder="Search Chatroom"
            id="header-search"
          />
          <%- searchIcon %>
        </div>
        <%- questionIcon %>
      </div>
      <div class="profile-toggle tooltip">
        <img src="<%- profileImage %>" alt="" />
        <%- arrowDown %>
        <span id="name-tooltip" class="tooltiptext"><%- name %> </span>
      </div>
      <div class="logout-box hide">
        <ul>
          <li><%- profileIcon %> <a href="/profile">Profile</a></li>
          <li><%- signOutAlt %> <a href="/users/logout">Logout</a></li>
        </ul>
      </div>
    </header>
  </body>
</html>
