<div class="profile-container">
  <div class="profile-body">
    <div class="profile-body__left">
      <h1>Hi, <%= name %></h1>
      <img src="<%- profileImage %> " alt="" />
      <form
        action="/users/upload-profile-pic"
        method="POST"
        enctype="multipart/form-data"
      >
        <label for="file-upload-input" class="file-upload-label"
          ><%- uploadIcon %> Change Picture</label
        >
        <input
          type="file"
          name="profile_pic"
          id="file-upload-input"
          hidden
          onchange="this.form.submit()"
        />
        <br />
        <!-- <input type="submit" value="Save" /> -->
      </form>
    </div>
    <div class="profile-body__right">
      <div class="right-box-content">
        <h2>Here are your profile details</h2>

        <ul>
          <li>
            <span class="bold-span">Name:</span>
            <span class="content-span"><%- name %></span>
            <a class="edit-profile-link" href="#">Edit</a>
          </li>
          <li>
            <span class="bold-span">Email:</span>
            <span class="content-span"><%- email %></span
            ><a class="edit-profile-link" href="#">Edit</a>
          </li>
          <li>
            <span class="bold-span">Joined in:</span>
            <span class="content-span"><%- date %></span>
          </li>
          <%- include("../partials/messages") %>
          <p><a href="">Change Password?</a></p>
        </ul>
      </div>
    </div>
  </div>
</div>
