    <div class="sidebar__title">
        <div>
            <h2>WEBB20 Nackademin</h2>
            <%- arrowDown %> 
        </div>
        
        <span>
            <%- editIcon %> 
        </span>
    </div>

    <div class="sidebar__body">
        <div class="sidebar__body__item"><%- commentIcon  %>Chats</div>
        <div class="sidebar__body__item"><%- chatIcon  %>All DMs</div>
        <div class="sidebar__body__item"><%- atIcon  %>Mentions</div>
        <div class="sidebar__body__item"><%- bookmarkIcon  %>Saved Items</div>
        <div class="sidebar__body__item"><%- ellipsisVIcon  %>More</div>
    </div>
    <div class="sidebar__bottom">
        <div class="toggle-title">
            <span class="caret-icon-span"><%- caretRightIcon %></span>
            <h3 class="active toggle-h3">Channels</h3>
        </div>
        <div class="channel__list hide">
            <div class="channel__list__item"><span>#</span> absence</div>
            <div class="channel__list__item"><span>#</span> affärsmanaskap</div>
            <div class="channel__list__item"><span>#</span> backend-1</div>
            <div class="channel__list__item"><span>#</span> frontend-3</div>
            <div class="channel__list__item"><span>#</span> databasteknik</div>
            <div class="channel__list__item"><span>#</span> random</div>
        </div>

        <div class="toggle-title">
            <span class="caret-icon-span"><%- caretRightIcon %></span>
            <h3 class="toggle-h3">Direct Messages</h3>
        </div>
        <div class="sidebar__bottom__channels">

        </div>
        <div class="sidebar__bottom__dms"></div>
    </div>