<div class="sidebar__title">
  <a href="/" style="display:flex; align-items:center;justify-content: space-between"><h2>Create Channel</h2>
    <span> <%- editIcon %> </span></a>
</div>

<div class="sidebar__body">
  <div class="sidebar__body__item"><a href="/message/mentions"><%- atIcon %>Mentions</a></div>

</div>
<div class="sidebar__bottom">
  <div class="toggle-title">
    <span class="caret-icon-span"><%- caretRightIcon %></span>
    <h3 class="active toggle-h3">Channels</h3>
  </div>
  <div class="channel__list">
    <% rooms.forEach(room => { %>
      <div class="channel__list__item" ><a href="/room/<%- room._id %>"><span>#</span> <%- room.name %> </a></div>
    <% }) %>
  </div>

</div>
